<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ad81027d56.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <br>
    <br>
    <br>

    <div class="container">
      <p id="notice"><%= notice %></p>
      <% if user_signed_in? %>
        <%= render 'layouts/search' %>
      <% end %>
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
